

slideshow-container {
    max-width: 500px;
    position: relative;
    margin: auto;
}

.slideshow-images {
    object-fit: fill;
    height: 300px;
    max-width: 500px;
    border: black 5px solid;
    margin-top: 30px;
    margin-bottom: 20px;
}

.content {
    max-width: 500px;
    margin: auto;
}

.head-line{
    color: dodgerblue;
    font-size: 70px;
}